<!DOCTYPE html>
<html>
    <head>
        <title>mserve - admin</title>
    </head>
    <body>
        <h1>[console]</h1>
        <ul>
            <li><a href="/mk_auth">mk_auth</a></li>
            <li><a href="/ls_auth">ls_auth</a></li>
        </ul>
    </body>
</html>
