<!DOCTYPE html>
<html>
    <head>
        <title>mserve - admin</title>
    </head>
    <body>
        <h1>[console]</h1>
        <form action="/recache">
            <input type="submit" value="recache"/>
        </form>
        <a href="/ls_auth">ls_auth</a>
    </body>
</html>
