<!DOCTYPE html>
<html>
    <head>
        <title>mserve - search</title>
    </head>
    <body>
        <form method="post">
            search (regex):<br>
            <input type="regex" name="regex">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
