<!DOCTYPE html>
<html>
    <head>
        <title>mserve</title>
    </head>
    <body>
        <h1>authentication</h1>
        {% if msg is defined %}
            <p>{{ msg }}</p>
        {% endif %}
        <form method="post">
            enter 1 time password:<br>
            <input type="password" name="password">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
