<!DOCTYPE html>
<html>
    <head>
        <title>mserve - admin</title>
    </head>
    <body>
        <h1>[ls_auth]</h1>
        <table>
            <thead>
                <tr>
                    <td>id</td>
                    <td>password</td>
                    <td>key</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for id, password, key in auths %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ password }}</td>
                        <td>{{ key }}</td>
                        <td><a href="/rm_auth/{{ id }}">-</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/mk_auth">+</a>
    </body>
</html>
