<!DOCTYPE html>
<html>
    <head>
        <title>mserve - admin</title>
    </head>
    <body>
        <h1>[mk_auth]</h1>
        <form method="post">
            enter new one time password:<br>
            <input type="text" name="password">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
