<!DOCTYPE html>
<html>
    <head>
        <title>mserve</title>
    </head>
    <body>
        <h1>search</h1>
        <form method="post">
            search for an album (by album title or artist) [regex]:<br>
            <input type="regex" name="regex">
            <input type="submit" value="submit">
        </form>
    </body>
</html>
